@{
    ViewBag.Title = "CatalogoEtiquetas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <!-- Header Section -->
    <div class="header-section">
        <h1 class="mt-2">Catalogo etiquetas</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Consultar numero de etiquetas</li>
        </ol>
    </div>



    <!-- Main Card -->
    <div class="card">
        <!-- Card Header -->
        <div class="card-header">
            <i class="fas fa-boxes me-1"></i>
            Total de Etiquetas
        </div>

        <!-- Card Body -->
        <div class="card-body">
            <!-- Data Table -->
            <div class="table-responsive mt-3">
                <table id="tablaEtiquetas" class="table-custom" style="width:70%">
                    <thead>
                        <tr>
                            <th class="break-word">Numero de parte</th>
                            <th class="break-word">Total de etiquetas</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>

        <div id="detalleEtiquetas" style="margin-top: 20px; display: none;">
            <h4>Detalle de etiquetas</h4>
            <table id="tablaDetalle" class="table-custom" style="width: 70%">
                <thead>
                    <tr>
                        <th>No. Parte</th>
                        <th>Etiqueta</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Scripts -->
<link href="~/styles/StyleDashboard.css" rel="stylesheet">
<script src="https://cdn.sheetjs.com/xlsx-0.20.3/package/dist/xlsx.full.min.js"></script>
<script src="https://cdnjs.com/libraries/bootstrap-datetimepicker/4.17.37"></script>
@section scripts {
    <script>
        var signoutUrl = "@Url.Action("SignOut", "Acceso")";
        const AutorizedBy = "@Session["Nombre_Completo"]";
        var nombreUsuario = '@Session["Nombre_Completo"]';

    </script>

    <script src="~/assets/js/Tier2/CatalogoEtiquetas.js"></script>

}