@{
    ViewBag.Title = "ModificarPlan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="pagetitle">
    <h1>Modificar plan de etiquetas</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Dashboard", "Home")">Home</a></li>
            <li class="breadcrumb-item">Tier 2</li>
            <li class="breadcrumb-item active">Modificar Plan</li>
        </ol>
    </nav>
</div>

<!-- Main Card -->
<div class="card">
    <!-- Card Header -->
    <div class="card-header">
        <i class="fas fa-boxes me-1"></i>
        MODIFICAR PLAN DE ETIQUETAS XLSX
    </div>

    <!-- Card Body -->
    <div class="card-body">
        <!-- Process Selection -->
        <div class="row mb-3">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="proceso" class="form-label">Área</label>
                    <select class="form-control" id="proceso" name="proceso">
                        <option value="Selecciona" selected>Selecciona un área</option>
                        <option value="ENSAMBLE">ENSAMBLE</option>
                        <option value="PRENSAS">PRENSAS</option>
                    </select>
                    <br />
                    <label for="startDate"> Fecha </label>
                    <input id="startDate" class="form-control" type="date" disabled />
                    <br />
                    <button id="btnCargarDatos" class="btn btn-primary mt-2" type="button" disabled>Mostrar etiquetas</button>
                </div>
            </div>
        </div>

        <!-- Loading Spinner -->
        <div id="spinner" class="text-center" style="display: none;">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Cargando...</span>
            </div>
        </div>

        <!-- Error Container -->
        <div id="errorContainer" class="alert alert-danger mt-3" style="display: none;"></div>

        <div id="titleDiv" class="alert alert-info mt-3" style="display: none;">
        </div>

        <!-- Data Table -->
        <div class="table-responsive mt-3">
            <table id="xlsxPreviewTable" class="table-custom" style="width:70%">
                <thead>
                    <tr>
                        <th class="break-word">Linea</th>
                        <th class="break-word">Numero de parte</th>
                        <th class="break-word">Etiquetas solicitadas</th>
                        <th class="break-word">Etiquetas por escanear</th>
                        <th class="break-word">Etiquetas parciales solicitadas</th>
                        <th class="break-word text-center">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <div>
                <button id="saveAllChanges" class="btn btn-primary mt-3" style="display:none">
                    Guardar los cambios
                </button>
            </div>
        </div>


    </div>
</div>

<!-- Confirmation Modal -->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmar información</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ¿Deseas confirmar el plan para <span id="spanProceso" class="fw-bold"></span>?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" id="insertarDatos" class="btn btn-primary" data-bs-dismiss="modal" onclick="uploadExcelData()">
                    Guardar cambios
                </button>
            </div>
        </div>
    </div>
</div>

<div id="confirmationModal" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            La información ha sido guardada correctamente.
        </div>
    </div>
</div>

<!-- Scripts -->
<link href="~/styles/StyleDashboard.css" rel="stylesheet">
<script src="https://cdn.sheetjs.com/xlsx-0.20.3/package/dist/xlsx.full.min.js"></script>
<script src="https://cdnjs.com/libraries/bootstrap-datetimepicker/4.17.37"></script>

@section scripts {
    <script>
        var signoutUrl = "@Url.Action("SignOut", "Acceso")";
        const AutorizedBy = "@Session["Nombre_Completo"]";
        var nombreUsuario = '@Session["Nombre_Completo"]';

    </script>

    <script src="~/assets/js/Tier2/ModificarPlan.js"></script>

}
